[submodule "themes/docsy"]
	path = themes/docsy
	url = git@github.com:fablabcb/docsy.git
[submodule "themes/github.com/FortAwesome/Font-Awesome"]
	path = themes/github.com/FortAwesome/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "themes/github.com/bootstrap"]
	path = themes/github.com/bootstrap
	url = git@github.com:twbs/bootstrap.git
[submodule "themes/github.com/twbs/bootstrap"]
	path = themes/github.com/twbs/bootstrap
	url = git@github.com:twbs/bootstrap.git
[submodule "themes/hugo-cloak-email"]
	path = themes/hugo-cloak-email
	url = https://github.com/martignoni/hugo-cloak-email.git
