/*

Add styles or override variables from the theme here.

*/

.nav-link {
	color: #fff;
}

.navbar-nav .nav-link.active {
	color: #fff;
	border-bottom: 4px solid white;
}

.td-search__input:not(:focus) {
	background: #9995;
}

.td-page-meta { display: none; }


.td-navbar .navbar-brand svg {
	margin: 0 20px 0 10px;
	height: 42px;
}
.td-navbar svg .logo_text{
    fill: #fff;
}

@media (min-width: 768px){
    .td-navbar-cover svg .logo_text{
        fill: #ffcc00ff;
    }
}

.navbar-bg-onscroll svg .logo_text{
    fill: #fff;
}
