/*

Add styles or override variables from the theme here.

*/

.navbar-logo svg .arrow{
    fill:#0c4b4c;
    stroke:#0c4b4c;
}

.navbar-logo svg .arrow path{
    fill: none;
}

.td-navbar .nav-link {
	color: #fff;
}

.navbar-nav .nav-link.active {
	color: #fff;
	border-bottom: 4px solid white;
}
.td-box--2 {
    color: #fff;
    background-color: #0c4b4c;
}
.td-box--2 h2{
    color: #ffcc00;
}

.td-box--3{
    background-color: #ffcc00;
}
.td-box--3 p > a, .td-box--4 span > a {
 color: #07377f;
}

.td-box--4 {
    color: #fff;
    background: #0c4b4c;
}

.td-footer{
    color: black;
    background: #ffcc00;
}

.td-search__input:not(:focus) {
	background: #9995;
}

.td-page-meta { display: none; }
.taxonomy { display: none; }

.td-navbar .navbar-brand svg {
	margin: 0 20px 0 10px;
	height: 42px;
}
.td-navbar svg .logo_text{
    fill: #fff;
}

@media (min-width: 768px){
    .td-navbar-cover svg .logo_text{
        fill: #ffcc00ff;
    }
}

.navbar-bg-onscroll svg .logo_text{
    fill: #fff;
}

.gallery {
    display: flex; /* Flexbox aktivieren */
    flex-wrap: wrap; /* Zeilenumbruch bei Bedarf */
}

.figure {
    display: flex;
    flex-direction: column; /* Beibehaltung der vertikalen Anordnung für Bild und Caption */
    align-items: center; /* Zentriert die Caption unter dem Bild */
    margin: 10px; /* Abstand zwischen den Figuren */
}

.figure-caption{
    display: table-caption;
    caption-side: bottom;
    max-width: 150px;
}

.figure-caption-wide{
    display: table-caption;
    caption-side: bottom;
    max-width: 850px;
    font-size: smaller;
}

.svg-container {
    position: relative; /* Wichtig für die Positionierung der .car */
    overflow: auto;
    resize: both; /* Um sicherzustellen, dass das Element nicht außerhalb des Containers sichtbar ist */
    width: 100%; /* Breite des Containers */
    height: 300px; /* Höhe des Containers */
}

.svg-visibility {
    position: absolute;
    z-index: 3;
}

@keyframes reveal {
    0% {
        stroke-dashoffset: 200;
    }
    50% {
        stroke-dashoffset: 100;
    }
    100% {
        stroke-dashoffset: 0;
        opacity: 50%;
        }
}

.signalline {
    position: relative;
    stroke-dasharray: 200; /* Setze dies auf die Länge des Pfades */
    stroke-dashoffset: 210; /* Startwert für die Animation */
    animation: reveal 5s ease-in-out forwards; /* Animationseigenschaften */
    stroke-width: 2; /* Breite der Linie */
    stroke: #ffcc00;
    fill: none;
}


@keyframes movep {
    0% {
        transform: translateX(-50px);
      }
    100% {
        transform: translateX(calc(100vw));
      }
}

.car {
    position: absolute;
    animation: movep 20s linear forwards 1; /* Animation */
    stroke-width: 0.5; /* Breite der Linie */
    stroke: #00ff22;
    fill: none; /* Füllung auf none setzen, falls gewünscht */
}

.svgimg {
    position: absolute;
    top: 6px; left: 208px;
    overflow: hidden;
    height: 233px;
    z-index: 1;
    opacity: 1;
    animation: photo-ani 3.5s forwards;
  }

@keyframes photo-ani {
    0% {
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.get-away {
    animation: away 3.5s forwards;
}

@keyframes away {
    0% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .td-footer__center a:link{
    color:#07377f;
  }