/*

Add styles or override variables from the theme here.

*/

.navbar-logo svg .arrow{
    fill:#0c4b4c;
    stroke:#0c4b4c;
}

.navbar-logo svg .arrow path{
    fill: none;
}

.td-navbar .nav-link {
	color: #fff;
}

.navbar-nav .nav-link.active {
	color: #fff;
	border-bottom: 4px solid white;
}
.td-box--2 {
    color: #fff;
    background-color: #0c4b4c;
}
.td-box--2 h2{
    color: #ffcc00;
}

.td-box--3{
    background-color: #ffcc00;
}
.td-box--3 p > a, .td-box--4 span > a {
 color: #07377f;
}

.td-box--4 {
    color: #fff;
    background: #0c4b4c;
}

.td-footer{
    color: black;
    background: #ffcc00;
}

.td-search__input:not(:focus) {
	background: #9995;
}

.td-page-meta { display: none; }
.taxonomy { display: none; }

.td-navbar .navbar-brand svg {
	margin: 0 20px 0 10px;
	height: 42px;
}
.td-navbar svg .logo_text{
    fill: #fff;
}

@media (min-width: 768px){
    .td-navbar-cover svg .logo_text{
        fill: #ffcc00ff;
    }
}

.navbar-bg-onscroll svg .logo_text{
    fill: #fff;
}

.gallery {
    display: flex; /* Flexbox aktivieren */
    flex-wrap: wrap; /* Zeilenumbruch bei Bedarf */
}

.figure {
    display: flex;
    flex-direction: column; /* Beibehaltung der vertikalen Anordnung für Bild und Caption */
    align-items: center; /* Zentriert die Caption unter dem Bild */
    margin: 10px; /* Abstand zwischen den Figuren */
}

.figure-caption{
    display: table-caption;
    caption-side: bottom;
    max-width: 150px;
}